{:paths ["."]
 :deps  {cheshire/cheshire {:mvn/version "5.13.0"}
         babashka/process {:mvn/version "0.5.22"}
         babashka/fs {:mvn/version "0.5.23"}}
 :aliases
 {:bbin/bin
  {bb-docx-render {:main-opts ["fill_docx.bb"]}}}}

